/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {margin: 0; padding: 0;}

html {
	height: 100%;
	background: url(https://media.discordapp.net/attachments/811098122183901194/812885855567216660/SimpleCorner.png?width=1043&height=586);
  background-repeat:no-repeat;
 background-size: 100% 100vh;

}

body {
	font-family: montserrat, arial, verdana;
}
/*form styles*/
form {
  margin: 200px auto;
	width: 400px;
	
	text-align: center;
	position: relative;
}
form fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
form fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
form input {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
form .action-button {
	width: 100px;
	background: black;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
form .action-button:hover, form .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
h1 {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 20px;
}

