@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  font-family: montserrat;
}


    .titleText {
      color: black;
      text-align: center;
      padding-top: 20px;
    }

.title {
  text-align: center;
}

    .testimonials .content {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: row;
      margin-top: 40px;
    }
    .testimonials .content .box {
      width: 340px;
      margin: 20px;
      padding: 40px;
      background: #fff;
      border: black solid 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .testimonials .content .box .imgBx {
      position: relative;
      width: 80px;
      height: 80px;
      margin-bottom: 20px;
      border-radius: 50%;
      overflow: hidden;
    }
     .testimonials .content .box .imgBx img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
     }
     .testimonials .content .box .text {
      text-align: center;
     }
     .testimonials .content .box .text p {
      color: #666;
      font-style: italic;
     }
     .testimonials .content .box .text h3 {
      margin-top: 20px;
      font-size: 1em;
      font-weight: 600;

     }

.box:hover
{
  color: #C20114;
  cursor: pointer;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 20%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#myBtn {
  border-radisu: 5px;
  padding: 15px;
  background-color: #C20114;
  color: white;
  border: none;
  font-family: montserrat;
}

.submitButton {
  background-color: #C20114;
  color: white;
  border: none;
  font-family: montserrat;
  padding: 15px;
  margin: 20px;
}