/* .navbar {
    height: 50px;
    background-color: #6D7275;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
}

.navLink {
    display: block;
    height: auto;
    text-decoration: None;
    color: white;
}

li {
    display: inline;
    float: left;
    height: 100%;
    padding: 0px 20px 5px 20px;
    padding: auto;
  }

li:hover {
    background-color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  } */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

.navLink {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navLink:hover {
  background-color: #111;
}